@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #c4c4c4;
    font-size: 14px;
    line-height: 20px;
    
}

.cv{
    display: flex;
    width: 800px;
    margin: 50px;
    background: #fff;
    padding: 10px;
}

.cv .cv_left{
    width: 35%;
    background: #313039;   
}

.cv .cv_left .cv_image{
    width: 100%;
}

.cv .cv_left .cv_image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cv_bottom {
    padding-left: 15px;
    padding-right: 15px;
}

.about_me {
    text-align: justify;
}

a:link {
    color: #c4c4c4;
  }
  
  a:visited {
    color: purple;
  }
  
  a:hover {
    color: lightcyan;
  }
  
  a:active {
    color: blue;
  }

.cv_bottom .cv_item .cv_interests{
    padding-left: 5px;
}

.cv_bottom .cv_information{
    color: #c4c4c4;
}

.cv_profile p{
    color: #c4c4c4;
    
}

.cv .cv_title{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom:10px ;
    letter-spacing: 4px;
       
}

.cv .cv_left .cv_hobbies{
    color:#84838b;
    display: flex;
    justify-content: space-around;
}

.cv .cv_left .cv_bottom{
    padding: 20 px 30px;
}

.cv .cv_item{
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
}

.cv .cv_item:last-child{
    border-bottom: 0px;
}

.cv .cv_left .cv_nameocc{
    display: none;
}

.cv .cv_nameocc .name{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.cv .cv_left .cv_nameocc .occ{
    color: #c4c4c4;
}

.cv .cv_left .cv_contact .cv_info:last-child{
    margin-top: 10px;
}

.cv .cv_left .cv_contact .cv_subtitle{
    color: #fff;
    margin-bottom: 2px;
}


.cv .cv_right .cv_skills .skills_list{
    display: flex;
    margin-bottom: 5px;
}


.skills_left{
    flex: 1;

}


.skills_bar{
    flex: 2;
    background-color: lightgray;
}


.cv .cv_right .cv_skills .skills_list .skills_bar p{
    position: relative;
    height: 20px;
    background: #0175b2; 
    
}

.skills_bar .skills_html{
    width: 30%;
}

.skills_bar .skills_python{
    width: 30%;
}

.skills_bar .skills_css{
    width: 25%;
}

.skills_bar .skills_js{
    width: 15%;
}

.skills_bar .skills_teamwork{
    width: 65%;
}

.skills_bar .skills_creativity{
    width: 55%;
}

.skills_bar .skills_organization{
    width: 45%;
}

.skills_bar .skills_punctuality{
    width: 75%;
}

.cv .cv_right{
    width: 65%;
    padding: 20px 40px;
}

.cv .cv_right .cv_nameocc .name{
    color: #26252d;
    font-size: 32px;   
}

.cv .cv_right .cv_nameocc .occ{
    font-size: 14px;
    text-transform: uppercase;
}

.prt_skills.cv_title {
    width: 100%;
}


.prt_skills.cv_title a{
    color: #fff;
    
}

.prt_title_width {
    width: 280px;
    height: 30px;
    background-color: #0175b2;
    display: flex;
    align-items: center;
}

.cv_title a{
    background-color: #0175b2;
    color: white;
    padding-left: 5px;
}


.cv .cv_right .cv_data{
    display: flex;
}

.cv .cv_right .cv_data .year{
    padding-right: 35px;
    position: relative;
    flex:1;
}

.cv .cv_right .cv_data .content{
    padding-left: 35px;
    margin-bottom: 20px;
    flex:2;
}

.cv .cv_right .cv_data .year:before{
    content: "";
    position:absolute;
    top: 5px;
    right: 0px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #2625ed;
    border-radius: 50%;
}

.cv .cv_right .cv_data .year:after{
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}

.cv .cv_right .cv_data:last-child .year:after{
    display: none;
}